name: Platform IO CI
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # TODO: "-DESP32_8048S043N", "-DESP32_8048S043R", "-DESP32_8048S043C", "-DESP32_8048S050N", "-DESP32_8048S050R", "-DESP32_8048S050C", "-DESP32_8048S070N", "-DESP32_8048S070R", "-DESP32_8048S070C"
        smartboard: ["-DESP32_2432S024N", "-DESP32_2432S024R", "-DESP32_2432S024C", "-DESP32_2432S028R", "-DESP32_3248S035R", "-DESP32_3248S035C"]
        orientation: ["-DTFT_ORIENTATION_PORTRAIT", "-DTFT_ORIENTATION_LANDSCAPE", "-DTFT_ORIENTATION_PORTRAIT_INV", "-DTFT_ORIENTATION_LANDSCAPE_INV"]
        rgborder: ["-DTFT_PANEL_ORDER_RGB", "-DTFT_PANEL_ORDER_BGR"]
        flippedmirrored: ["", "-DTFT_FLIPPEDMIRRORED"]
    steps:
      - uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"
          architecture: "x64"
      - name: Install PlatformIO
        run: python -m pip install platformio
      - name: Build firmware
        run: pio ci --lib="." --board esp32dev "examples/lvgl_pushbutton/main.cpp"
        env:
          PLATFORMIO_BUILD_FLAGS: -Ofast -DLV_CONF_PATH="${{github.workspace}}/examples/lvgl_pushbutton/lv_conf.h" ${{matrix.smartboard}} ${{matrix.orientation}} ${{matrix.rgborder}} ${{matrix.flippedmirrored}}
      - name: Archive
        uses: actions/upload-artifact@v3
        with:
          name: firmware.bin
          path: .pio/build/*/firmware.bin
