name: Platform IO CI
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - board: "esp32dev"
            smartboard: "ESP32_2432S024N"
          - board: "esp32dev"
            smartboard: "ESP32_2432S024R"
          - board: "esp32dev"
            smartboard: "ESP32_2432S024C"
          - board: "esp32dev"
            smartboard: "ESP32_2432S028R"
          - board: "esp32dev"
            smartboard: "ESP32_3248S035R"
          - board: "esp32dev"
            smartboard: "ESP32_3248S035C"
          - board: "esp32-s3-devkitc-1"
            smartboard: "ESP32_8048S043N"
          - board: "esp32-s3-devkitc-1"
            smartboard: "ESP32_8048S043R"
          - board: "esp32-s3-devkitc-1"
            smartboard: "ESP32_8048S043C"
          - board: "esp32-s3-devkitc-1"
            smartboard: "ESP32_8048S050N"
          - board: "esp32-s3-devkitc-1"
            smartboard: "ESP32_8048S050R"
          - board: "esp32-s3-devkitc-1"
            smartboard: "ESP32_8048S050C"
          - board: "esp32-s3-devkitc-1"
            smartboard: "ESP32_8048S070N"
          - board: "esp32-s3-devkitc-1"
            smartboard:  "ESP32_8048S070R"
          - board: "esp32-s3-devkitc-1"
            smartboard: "ESP32_8048S070C"
    steps:
      - uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"
          architecture: "x64"
      - name: Install PlatformIO
        run: python -m pip install platformio
      - name: Build firmware
        run: pio ci --lib="." --project-conf "example/platformio.ini" --project-option"board=${{matrix.board}}" "example/main.cpp"
        env:
          PLATFORMIO_BUILD_FLAGS: -D${{matrix.smartboard}}
