name: Platform IO CI
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set up python
        uses: actions/setup-python@v3
        with:
          python-version: "3.x"
          architecture: "x64"
      - name: Install PlatformIO
        run: |
          python -m pip install platformio
          pio platform install espressif32
      - name: list directory
        run: ls -laR
      - name: Build firmware
        run: pio ci --lib="." --project-conf "example/platformio.ini" "example/main.cpp"
        env:
          PLATFORMIO_BUILD_FLAGS: -DLV_CONF_PATH="${{github.workspace}}/example/lv_conf.h"
